.row.content {height: 650px;}
.main{
  overflow: auto;
}

footer {
    background-color: grey;
    color: white;
    padding: 10px;
    height:50px;
    text-align:center;
}

header {
    background-color: grey;
    color: white;
    padding: 5px;
}

h2 {
    display:inline;
}

.selection {
    background-color:#99CCFF;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding:10px;
}


.columnNav {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}

.inputUpdate{
	margin:10px 10px 0px 0px;
}

.portletsArray {
    margin: 25px;
    width: 1200px;
   /* margin-top: -200px;*/
    height:auto; 
    overflow:auto;
    

}

.portleta {
      width:250px;
      float :left;
      margin: 0 1em 1em 0;
      padding: 0.3em;
     
}

  .portlet-headera {
      padding: 0.2em 0.3em;
      margin-bottom: 0.5em;
      position: relative;

  }

  .portlet-togglea {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -8px;
      
  }

  .portlet-contenta {
      padding: 0.4em;
  }

  .portlet-placeholder {
      border: 1px dotted black;
      margin: 0 1em 1em 0;
      height: 50px;
  }



  @media screen and (max-width: 	991px) {
    
    .main{height: auto;min-height: 400px;}
    
      .navbar{
          height: auto;
          padding: 16px;
          width:auto;
        }
    
      .columnNav{
          height: auto;
          width:auto;
          padding: 18px;
          
      }
      .selection{
        float:left;
        width:175px;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 13px;
      }
      .portletsArray{
        margin:15px;
        
      }

  
  }
  
  @media screen and (max-width: 	1100px) {

    .row.content {height: auto; } 
    .main{
      height :auto;
    }
    .selection{
          margin-left:1px;
      }
    .portletsArray{
        margin:15px;
    }
    
    .navbar{
      height: auto;
      padding: 15px;
      width:auto;
      
    }


  }

.other{
 
  margin:25px;
 
}

buttonNav{
      margin:10px;
}

.dugme
{
  margin:5px;
}

#pocetna{
  margin:50px;
  }
.naslov{
  text-align:center; 
  margin-bottom:65px;
  }

.tekst{
  color:grey;
    
}

.headerDiv{
  display:inline;
  margin-left:10px;
   margin-right:10px
}

.headerPicture{

  width:70px;
  height:70px;
}
.backgroundColor{
  background-color:lavender;
}
.backgroundColor2{
  background-color:#F9EFB0;
}
.link{
  color:#333333;
  text-decoration: none;
}
.range{
  color: #495057;
  margin-left:2px;
  margin-bottom: 5px;
  font-size: 23px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  background: grey;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: buttonface;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: white
}
input[type=range]:focus::-ms-fill-upper {
  background: white
}